<div class="main">
	<h1>Top Scores</h1>
	<div class="scores">
		<% @scores.each do |score| %>
		<div class="score-user">
			<p><%= score.user %></p>
		</div>
		<div class="score-num">
			<p><%= score.score %></p>
		</div>
		<% end %>	
	</div>
	<div>
		<h2>Your score:</h2>
		<div class="scores">
			<div class="score-user">
				<p><%= @user_score.user %></p>
			</div>
			<div class="score-num">
				<p><%= @user_score.score %></p>
			</div>
		</div>
	</div>
	<p><%= link_to "Play again", waldo_index_path %></p>
	<p><%= link_to "Homepage", root_path %></div></p>
</div>

